<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Adicionar Cursos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>

    <!-- <ion-item>
      <ion-label>Todos os cursos</ion-label>
      <ion-checkbox  slot="end"(click)="_todas()" ></ion-checkbox>
    </ion-item> -->
    <ion-item *ngFor="let curso of cursos" >

      <ion-label>{{curso.nome}}</ion-label>
      <ion-checkbox  slot="end"   [(ngModel)]="curso.isChecked" (click)="_getSelectItem(curso)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button  color="primary" expand="block" (click)="cadastrar()">
    <ion-icon name="chevron-forward"></ion-icon>
    Avançar
  </ion-button>
  
</ion-content>
