<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" (click)="mais()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Minha Conta</ion-title>

  </ion-toolbar>
</ion-header>
<ion-item  *ngFor=" let img of imagens" >
  <ion-avatar>
    <img src="{{server+img.imagem}}">
  </ion-avatar>

</ion-item>
<section class="home">
  <ion-button class="btn" (click)="presentActionSheet()">Adicionar imagem</ion-button>
</section>
<section class="home">
  <ion-button class="btn" (click)="addimagem()">salvar</ion-button>
</section>

<ion-buttons slot="end">
  <ion-button (click)="logout()">
    <ion-icon slot="end" name="log-out"></ion-icon>
  </ion-button>
</ion-buttons>



