<ion-content>
  
  

    <!-- Logo -->
    <section class="home">
      <div >
        <ion-icon class="img-logo" src="assets/img-logo.svg"></ion-icon>
      </div>
    </section>

    <section class="home2">
      <div >
        <ion-icon class="logo" src="assets/VotaIF.svg"></ion-icon>
      </div>
    </section>

    <!-- Login form -->
    <section class="home3">
      <div >
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>
      <div class="input">
        <ion-item>
          <ion-label position="floating" >Senha</ion-label>
          <ion-input [(ngModel)]="senha"></ion-input>
        </ion-item>
      </div>
      <div >
        <ion-button class="botto" expand="full" color="tertiary" (click)="login()">Entrar</ion-button>
      </div>
      <div class="center">
        <p class="texto">Ainda não possui conta? <a href="/nivel-usuarios">Registrar</a></p>
      </div>
    </section>
    
   

     

  

    <!-- Other links -->
  


</ion-content>
