<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start" (click)="mais()">
        <ion-button >
          <ion-icon  name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Minha Conta</ion-title>
    
    </ion-toolbar>
  </ion-header>

<img class="avatar1" src="../assets/images.png">


<ion-buttons slot="end">
    <ion-button (click)="logout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
    </ion-button>
</ion-buttons>

<ion-content>

</ion-content>