
.avatar1{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    
    border-radius: 50%;

}
.home{
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo{
    margin-top: 95px;
    width: 153px;
    height: 68px;
  }