.turmas{
    margin-right: -53px;
    margin-bottom: 53px;
}
.label2{
    margin-left: -42px;
    margin-bottom: 53px;
}
.botao{
    width: 100px !important;
height: 100px !important;
}
.icon_central{
    font-size: 60px;

}