<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Escolhar professores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item>
      <ion-label>Selecionar todos</ion-label>
      <ion-checkbox  slot="end"(click)="_todas()" ></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let usuario of usuarios" >

      <ion-label>{{usuario.nome}} || {{usuario.nivel}}</ion-label>
      <ion-checkbox  slot="end" selected="false"  [(ngModel)]="usuario.isChecked" (click)="_getSelectItem(usuario)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button *ngIf="!id" color="primary" expand="block" (click)="cadastrar()">
    <ion-icon name="checkmark"></ion-icon>
    Adicionar
  </ion-button>

</ion-content>

