<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" (click)="votacao()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Adicionar Votacao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">
      Nome da eleição
    </ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Descricao
    </ion-label>
    <ion-input [(ngModel)]="descricao"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Data Inicio
    </ion-label>
    <br>
    <ion-input type="date" [(ngModel)]="inicio">
      <ion-icon name="calendar"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Hora
    </ion-label>
    <br>
    <ion-input type="time" [(ngModel)]="hora_inicio">
      <ion-icon name="time"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Data Terminio
    </ion-label>
    <br>
    <ion-input type="date" [(ngModel)]="terminio">
      <ion-icon name="calendar"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Hora terminio
    </ion-label>
    <br>
    <ion-input type="time" [(ngModel)]="hora_terminio">
      <ion-icon name="time"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>tipo de votacao</ion-label>
    <ion-select placeholder="Selecione" name="tipo" [(ngModel)]="tipo">
      <ion-select-option [value]="eleicao"> Eleiçao</ion-select-option>
      <ion-select-option [value]="trabalho">Trabalho</ion-select-option>
      <ion-select-option [value]="eventos"> Eventos</ion-select-option>
    </ion-select>
    
  </ion-item>

  <ion-button>Adicionar banner</ion-button>
  <ion-button *ngIf="!id" color="success" expand="block" (click)="cadastrar()">
    <ion-icon name="checkmark"></ion-icon>
    Avancar
  </ion-button>
  <!-- <ion-button *ngIf="id" color="primary" expand="block" (click)="editar()">
    Editar
  </ion-button> -->
</ion-content>