<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-button >
        <ion-icon  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="center">Mais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <!-- Item as a Button -->
  <ion-item class="content" button (click)="cursos()" color="primary">
    <ion-icon name="albums"></ion-icon>
    <ion-label>
      Cursos
    </ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item class="content1" button (click)="turmas()" color="secondary">
    <ion-icon name="bookmarks"></ion-icon>
    <ion-label>
      Turmas
    </ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item class="content1" button (click)="conta()" color="primary">
    <ion-icon name="person"></ion-icon>
    <ion-label>
      Conta
    </ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>
  
  
 
</ion-content>
