<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="center">Mais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <!-- Item as a Button -->
  <ion-item class="content" button (click)="cursos()" color="tertiary">
    <ion-icon name="albums"></ion-icon>
    <ion-label class="largura">
      Cursos
    </ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item  button (click)="servidor()" color="tertiary" *ngIf="nivel == 'admin'">
    <ion-icon name="albums"></ion-icon>
    <ion-label class="largura">
      Servidor
    </ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>
  <!-- <ion-item  button (click)="cursos()" color="tertiary">
    <ion-icon name="albums"></ion-icon>
    <ion-label class="largura">
      Cursos
    </ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item> -->
  <ion-item button (click)="turmas()" color="tertiary">
    <ion-icon name="bookmarks"></ion-icon>
    <ion-label class="largura">
      Turmas
    </ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item  button (click)="conta()" color="tertiary">
    <ion-icon name="person"></ion-icon>
    <ion-label class="largura">
      Conta
    </ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item  button (click)="editarPerfil()" color="tertiary">
    <ion-icon name="person"></ion-icon>
    <ion-label class="largura">
      Perfil
    </ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>
  <ion-item  button (click)="editarvot()" color="tertiary">
    <ion-icon name="person"></ion-icon>
    <ion-label class="largura">
      vvv
    </ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>
  
  
 
</ion-content>
