<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de participantes</ion-title>
    
  </ion-toolbar>
    <ion-row class="preto">
    <ion-input placeholder="Buscar" [(ngModel)]="nome" type="search" (ionChange)="carregar()" ></ion-input>
  
  </ion-row>
</ion-header>

<ion-content>
  <ion-list >
    <ion-radio-group *ngFor="let usuario of usuarios" allowEmptySelection="true" >
      <ion-item >
        <ion-label>{{usuario.nome}} -- {{usuario.nivel}}</ion-label>
        <ion-radio  [(ngModel)]="id" slot="start" value="usuario.id"></ion-radio>
        
      </ion-item>
    </ion-radio-group>
    



    <ion-button expand="full" fill="outline" (click)="adicionar()" >Adicionar Candidatos</ion-button>

    <!-- <ion-item-sliding *ngFor="let usuario of usuarios">
      <ion-item>
          <ion-label>{{usuario.nome}} -- {{usuario.nivel}}</ion-label>
      </ion-item>
      </ion-item-sliding> -->
    </ion-list>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Carregando...">
      </ion-refresher-content>
    </ion-refresher>

    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
