<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>Votação que você criou</ion-title>
    <ion-buttons *ngIf="nivel != 'aluno' || nivel != 'servidor'" slot="primary" (click)="criarVotacao()">
      <ion-button>Novo
        <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-row color="medium">
    <ion-segment (ionChange)="segmentChanged($event)" value="aberta">
      <ion-segment-button value="aberta">
        <ion-label>Abertas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="encerrada">
        <ion-label>Encerradas</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-row>
</ion-header>




<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor=" let votacao of votacoes">

      <ion-item-options side="start">
        <ion-item-option (click)="encerrarVotacao(votacao.id)">
          Encerrar
        </ion-item-option>
      </ion-item-options>
      <ion-item (click)="dadosVotacao(votacao.id)">
        <ion-label>{{votacao.nome}} </ion-label>
        <ion-icon name="enter"></ion-icon>
      </ion-item>
      
    </ion-item-sliding>
  </ion-list>



  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>






  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais dados">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>