<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">
      Opção 01
    </ion-label>
    <ion-input [(ngModel)]="opcao01"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Opção 02
    </ion-label>
    <ion-input [(ngModel)]="opcao01"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Opção 03
    </ion-label>
    <ion-input [(ngModel)]="opcao01"></ion-input>
  </ion-item>
  <ion-button>Adicionar mais</ion-button>
</ion-content>
