<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Candidatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label position="floating">
    Candidatos
  </ion-label>
  <ion-list>
    <ion-item *ngFor="let eleicao of eleicoes">
      <ion-label>{{eleicao.nome}}</ion-label>
      
    </ion-item>
  </ion-list>
 
    <ion-button expand="full" (click)="addUsuarioVotacao()" >Adicionar Candidatos</ion-button>

    <ion-button expand="full" (click)="avancar()" >Avançar</ion-button>
  
</ion-content>
